{% extends "base.html" %}
{% block content %}

<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Sendpass.ru - использование</title>
  </head>
  <body>
<div class="container">
  <section>
    <div class="page-header"><h1>Условия использования</h1></div>
    <div class="col-sm-9">
<li>Данный сервис предоставляется "как есть", предназначен для личного использования.</li>
<li>автор и администратор не несет ответственности за его работоспособность и не гарантирует постоянной работоспособности.</li>
<li>имейте резервную копию любых передаваемых данных, так как они не сохраняются на сервере и не могут быть восстановлены в случае технических сбоев.</li>
<li>Сервер собирает и обрабатывает стандартные логи - IP адрес и параметры браузера, так же собираются метрики Yandex.</li>
<li>Все базовые и необходимые настройки безопасности сервера выполнены, но это не означает, что уязвимостей со 100% вероятностью нет.</li>
<li> Сервис является форком <a href="https://github.com/pinterest/snappas">snappass</a>, и сдержит ряд отличий от него:
 обновлен jquery до версии 3.6.0 и Bootstrap, добавлена  reCapcha, разделы о сервисе и пользовательское соглашение.</li>
 <li> Публичный репозиторий проекта <a href="https://github.com/f022b/snappass">snapass<a></li> 

</div>

    <div class="col-sm-10">
     <p> </p>
     <p><strong>Внимание, используя сервис, вы соглашаетесь с условиями его использования</strong></p>
     <p> </p>
        <a class="btn btn-primary" href="https://sendpass.ru" role="button">Sendpass.ru</a>
       
    </div>
     
  </section>
</div>

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
  </body>
</html>

<!-- IE needs 512+ bytes: https://docs.microsoft.com/archive/blogs/ieinternals/friendly-http-error-pages -->
{% endblock %}

{% block js %}
{% endblock %}