{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Создать секрет</h1></div>
    <div class="row">
      <form role="form" id="password_create" method="post" autocomplete="off">
        <div class="col-sm-6 margin-bottom-10">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <textarea rows="10" cols="50" id="password" name="password" autofocus="true" class="form-control" placeholder="SendPass позволяет вам безопасно передать конфиденциальные данные простым, но безопасным путем. Введите или скопируйте сообщение, настройте время хранения и нажмите кнопку Создать ссылку! Отправьте ссылку получателю любым удобным способом" aria-describedby="basic-addon1" autocomplete="off" required></textarea>
          </div>
        </div>

        <div class="col-sm-2 margin-bottom-10">
          <select class="form-control" name="ttl">
            <option value="Two Weeks">Две недели </option>
            <option value="Week" selected="selected">Неделя</option>
            <option value="Day">День</option>
            <option value="Hour">Час</option>
          </select>
        </div>

        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" id="submit">Создать ссылку</button>
        </div>
      </form>
    </div>
  </section>
</div>
{% endblock %}
 <p><strong>Внимание, используя сервис, вы соглашаетесь с условиями его использования </strong></p>

{% block js %}
{% endblock %}
